:root {
  --background: #121212;
  --accent: #77A0A9;
  --primary: #AA4465;
  --secondary: #ACECA1;
  
  --sidebar:var(--accent);
  --sidebar-h: rgba(0, 0, 0, 0.1);

  --dark: var(--background);
  --darkify: rgba(0, 0, 0, 0.5);
  --bright: #ffffff;
}

* {
  box-sizing: border-box;
  list-style: none;
}

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

body {
  margin: 0;
  background: var(--background);
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}

.code {
  display: flex;
  background-color: var(--darkify);
  border-color: var(--accent);
  border-width: 2px;
  border-radius: 15px;
  border-style:groove;
  transition: all .2s linear;
  z-index: 1;
  width: 100%;
  padding: 15px;
}

.code code {
  flex: auto;
}

.code:hover {
  border-color: var(--primary);
}

.spacer {
  height: 72px;
}

.wholepage {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--primary);
  z-index: 50;
  opacity: 60%;
  pointer-events: none;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body.open .wholepage {
  opacity: 100;
  width: 100%;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: var(--sidebar);
  transition: width 0.4s;
  z-index: 99;
}

body.open .sidebar {
  width: 260px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  background: rgba(0, 0, 0, 0.1);
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(./assets/icon-burger.svg) no-repeat center center;
  transition: 0.3s;
}

body.open .sidebar-burger {
  background: url(./assets/icon-close.svg) no-repeat center center;
}

.sidebar-logo {
  height: 20px;
  opacity: 0;
  transition: 0.3s;
}

body.open .sidebar-logo {
  opacity: 1;
}

.sidebar-nav {
  padding-top: 10px;
  flex: 1 1 auto;
}

.sidebar button {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 50px;
  width: 72px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
}

.sidebar button > img {
  width: 24px;
  height: 24px;
}

.sidebar button > span {
  color: var(--dark);
  opacity: 0;
  transition: 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

body.open .sidebar button > span {
  opacity: 1;
  animation: appear 0.3s both;
}

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

a {
  text-decoration: none;
}

.group {
  display: flex;
}

.row {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.row-right {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.main {
  padding-left: 72px;
  font-family: "Poppins";
  font-variant: normal;
  color: var(--accent);
}

.items-div {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: rgba(255, 255, 255, 0.02);
  padding-left: 20px;
  padding-right: 20px;
}

.header a {
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-large;
  text-decoration: none;
  color: var(--accent);
}

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.blocks {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.block {
  flex: auto;
  border-radius: 100px;
  margin-top: 20px;
  background-color: var(--accent);
  color: var(--dark);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.block h3 {
  padding: 20px;
  margin: 0;
  justify-content: center;
}

.block a {
  color: var(--dark);
  padding: 0;
}

.primary-bgc {
  background-color: var(--primary);
}

.primary-c {
  color: var(--primary);
}

.item-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.font-xxl {
  font-size: xx-large;
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 72px);
  height: 72px;
  background-color: rgba(255, 255, 255, 0.02);
}

/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

.logo {
  height: 20px;
}

.cursor {
  pointer-events: none;
  position: fixed;
  background-color: var(--primary);
  width: 20px;
  height: 20px;
  left: -10px;
  top: -10px;
  border-radius: 10px;
  z-index: -1;
}

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

/*///////////////////////////////////////*/

.anim-link2 {
  display: block;
  text-decoration: none;
  position: relative;
}

.anim-link2::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  background-color: #77A0A9;
  width: 0;
  height: 5px;
  left: 50%;
  bottom: 0;
  transition: all .3s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.anim-link2:hover::after {
  width: calc(100% - 10px);
  left: 5px;
}


.anim-link{
  display: block;
  text-decoration: none;
  position: relative;
}

.anim-link::after{
  content: "";
  background: var(--accent);
	mix-blend-mode: exclusion;
  width: calc(100% + 0px);
  height: 0;
  position: absolute;
  bottom: -18px;
  left: -0px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.anim-link:hover::after{
	height: calc(100% + 35px)
}

.slide-in-blurred-bottom {
	animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}


.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0ms both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-top {
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0ms both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0ms both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hover-prim {
  --b: 5px;     /* the border thickness*/
  --g: 5px;    /* the gap */
  --c: var(--primary); /* the color */
  outline: 35px solid rgba(0, 0, 0, 0);
  outline-offset: -35px;
  cursor: pointer;
  transition: .3s;
}
.hover-prim:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.hover-acc {
  --b: 5px;     /* the border thickness*/
  --g: 5px;    /* the gap */
  --c: var(--accent); /* the color */
  outline: 35px solid rgba(0, 0, 0, 0);
  outline-offset: -35px;
  cursor: pointer;
  transition: .3s;
}
.hover-acc:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.hover-acc:active {
  outline-offset: 0;
}

.hover-prim:active {
  outline-offset: 0;
}




.anim-delay-100 {
  animation-delay: 100ms;
}

.anim-delay-200 {
  animation-delay: 200ms;
}

.anim-delay-300 {
  animation-delay: 300ms;
}

.anim-delay-400 {
  animation-delay: 400ms;
}

.anim-delay-500 {
  animation-delay: 500ms;
}

.anim-delay-600 {
  animation-delay: 600ms;
}

.anim-delay-700 {
  animation-delay: 700ms;
}

.anim-delay-800 {
  animation-delay: 800ms;
}

.anim-delay-900 {
  animation-delay: 900ms;
}

.anim-delay-1000 {
  animation-delay: 1000ms;
}